  <div class="row">
    <header>
        <img src="/images/menu.svg" alt="menu">
    </header>
  </div>

  <div class="row">
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Food ToGo</h1>
            <input type="text" id="search" placeholder="Search">
            <video autoplay loop poster="public/images/splash_top.jpg" id="bgvid">
                <source src="/images/splash_top.jpg" type="video/mp4">
            </video>
        </div>
    </div>
