<!--<link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">-->


<nav class="navbar navbar- primary navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a id="scroll-home" href="#home">Home <span class="sr-only">(current)</span></a></li>
        <li><a id="scroll-menu" href="#menu-page">Menu</a></li>
          <li class="active"><a href="#">Restaurant Owner? </a></li>
        </li>
      </ul>

      <button type="button" class="btn btn-default navbar-btn">Sign in</button>
      <form>
      <button type="submit" class="btn btn-default navbar-btn check-out" style="float : right ">Check Out</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
<<<<<<< HEAD
        <!--<form>-->
=======
        <form action="/checkout" method="GET">
>>>>>>> fad8e70919787a0562aa0041aea9a4f4534859f1
          <div id='cart-container'>
               <a href="#0" class="cd-cart"><span>0</span></a>
                <div class='modal-cart'>
                  <div class='modal-cart-content'>
                    <div class="modal-cart-items"></div>
                      <div class="checkout-row">
                        <span class='modal-cart-close' href="#/0">Close</span>
<<<<<<< HEAD
                        <form action="/checkout" method="GET">
                          <input class="checkout-button" value="Checkout Now!" type="submit" />
                        </form>
=======
                        <div class="checkout-button">
                          <button type="submit" formaction="/checkout" formmethod="GET"> Checkout Now! </button>
                        </div>
>>>>>>> fad8e70919787a0562aa0041aea9a4f4534859f1
                      </div>
                  </div>
                </div>
            </div>
        <!--</form>-->
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
