<!DOCTYPE html>
<html lang="en">
<%- include partials/_head.ejs %>
<body>

<%- include partials/_header.ejs %>

  <div id="content" class="row">
    <div class="columns large-5">
      <div class="row">
        <div class="columns medium-6">User Name</div>
      </div>
      <br>
      <div class="row">
        <div class="columns medium-6">Phone Number</div>
      </div>
      <br>
      <div class="row">
        <div class="columns medium-6">Order Date</div>
      </div>    
      <br>
      <div class="row">
        <div class="columns medium-6">Restaurant Adddress</div>
      </div>
    </div>
    <div class="columns large-"7>
      <form>
        <div class="row">
          <div class="columns large-3">
            <p>Qauntity</p>
          </div>
          <div class="columns large-3">
            <p>Item_Name</p>
          </div>
          <div class="columns large-3">
            <p>Price</p>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>First Name
              <input type="text" placeholder="">
            </label>
          </div>
          <div class="large-6 columns">
            <label>Last Name
              <input type="text" placeholder="">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Phone Number
              <input type="text" placeholder="">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="columns large-10">
          </div>
          <div class="columns large-2">
            <p>Total</p>
          </div>
        </div>
        <div class="row">
          <div class="columns large-3">
            <a href="#" class="button">Place Order</a>
          </div>
          <div class="columns large-9">
            <a href="#" class="button secondary">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>

<%- include partials/_footer.ejs %>
</body>
</html>