<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mid Term Project</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css">
  <link media="all" type="text/css" rel="stylesheet" href="public/styles/layout.css">
  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
  <!-- Application JS -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <div class="row">
    <header>
        <img src="public/images/menu.svg" alt="menu">
    </header>
  </div>

  <div class="row">
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Food ToGo</h1>
            <input type="text" id="search" placeholder="Search">
            <video autoplay loop poster="public/images/splash_top.jpg" id="bgvid">
                <source src="public/images/splash_top.jpg" type="video/mp4">
            </video>
        </div>
    </div>

    <div id="content">
      <div class="row pad">
<!--        <div class=>
          <p class="subtitle">Featured</p>
        </div>
        <div class=>
          <a href="#" class="btn" id="view-all">View all Menus</a>
        </div>-->
        <% if(allitems){ %>
          <% for(let item of allitems){%>
          <div id="item-container">
            <div class="item-photo">
              <img class='thumbnail' src="public/images/seafood.jpg">
              <div id='modal'>
                <div class='modal-content'>
                 <p> Modal Text </p>
                </div>
              </div>
            </div>
            <div class="item-desc">
              <div class="item-name"><%= item.name%></div>
              <div class="item-price"><%= item.price%></div>
            </div>
          </div>
          <%} %>
          <%}%>
          <p>error is : <%= flash.error %> </p>
          <p>info is : <%= flash.info %> </p>

      </div>
    </div>
  </div>
</div>

</body>
</html>
