<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Foodie</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <style>
    .container{
      margin-top: 50px;
    }
  </style>
  <div class="container">
    <div class='row'>
      <div class='col-lg-12'>
        <div class='aler alert-success'>
          <span class='glyphicon glyphicon-ok'></span><strong>Your order has been placed successfully, you will recive a detailed message soon</stron>
          <hr class='message-inner-separator'>
        </div>
      </div>
    </div>
  </div>
  <script http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js></script>
  <script https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.js"</script>
</body>
</html>
