// VARIABLES

// colors
$navy: #314d5d; // Pickled Bluewood
$orange: #de5b48; // Red Damask
$yellow: #f0ca4d; // Ronchi
$white: #ffffff; // White
$green: #46b29d; // Keppel
$bgcolor: #f5f5f5;
$red:    #DA2224;
$black: #2b2e2f;
$gray: #7f7f7f;
$accent-color: #8c4292;
$accent-color2: #8838ff;

// fonts 

$primary-font: 'Raleway Sans', sans-serif;
$thumbnail-radius: 30px;

