@keyframes animScale {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0) scale3d(0.1, 0.6, 1);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@media only screen and (max-width: 40em) {
  p, a, h1, h2, h3 {
    text-align: center;
  }
  h1 {
    font-size: 1.5em;
  }
  h3 {
    margin: 30px 0 40px 0;
  }
  .pad {
    padding: 1.2em;
  }
  canvas {
    height: 100%;
  }
}

@-webkit-keyframes enlarge {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.11);
    transform: scale(1.11);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

@keyframes enlarge {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.11);
    transform: scale(1.11);
  }
  100% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

/* -------------------------------- 
Primary style
-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Raleway Sans", sans-serif;
  padding-top: 5%;
  color: #314d5d;
  background-color: #5f5f5f;
}

a {
  color: #de5b48;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  padding: 0;
}

button:focus {
  outline: none;
}

header {
  height: 80px;
  position: relative;
  padding-top: 40px;
}

header h1 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  header {
    height: 200px;
    padding-top: 100px;
  }
  header h1 {
    font-size: 2.2rem;
  }
}

/* -------------------------------- 
Nav Bar
-------------------------------- */
.navbar-brand {
  background-image: url("../images/logo.jpg");
  background-size: cover;
  width: 3em;
}

/* -------------------------------- 
Home
-------------------------------- */
#home {
  color: #ffffff;
  width: 100%;
  padding-top: 1em;
  margin-top: -1em;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
}

#home .home-body {
  color: #ffffff;
  height: 90%;
}

#home .home-body .home-container {
  color: #ffffff;
  height: 90%;
  margin-left: 15%;
  margin-right: 15%;
}

#home .home-body .home-container .header-container {
  color: #ffffff;
  margin-top: 10%;
  padding: 3em 10em 3em 10em;
  text-align: center;
}

#home .home-body .home-container .header-container h1 {
  color: #ffffff;
  background-color: rgba(105, 105, 105, 0.7);
  border-radius: 1em;
  font-size: 5em;
}

#home .home-body .home-container .header-container p {
  color: #ffffff;
  background-color: rgba(105, 105, 105, 0.8);
  border-radius: 1em;
  font-size: 1.5em;
}

#home .home-body .home-container .header-container button {
  color: #ffffff;
  background-color: #2b2e2f;
  width: 2em;
  border-radius: 1em;
  font-size: 3em;
}

/* -------------------------------- 
Cart Container
-------------------------------- */
#cart-container .cd-cart {
  position: absolute;
  z-index: 2;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 2em;
  background: url(/images/cd-icon-cart.svg) no-repeat center center;
}

#cart-container .cd-cart span {
  /* number of items added to the cart */
  position: absolute;
  top: 2px;
  right: 5px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  background-color: #46b29d;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  /* scale it down if no products have been added to the cart */
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s 0s;
  -moz-transition: -moz-transform 0.2s 0s;
  transition: transform 0.2s 0s;
}

#cart-container .cd-cart.items-added span {
  /* counter visible when a product is added to the cart */
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

@media only screen and (min-width: 1400px) {
  #cart-container .cd-cart {
    position: fixed;
  }
}

#cart-container .cd-cart:hover {
  background-color: #46b29d;
}

#cart-container .modal-cart {
  position: relative;
  display: none;
  z-index: 2;
}

#cart-container .modal-cart .modal-cart-content {
  background-color: rgba(105, 105, 105, 0.9);
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  box-shadow: 0 0 1em 0 #222;
  -webkit-box-shadow: 0 0 1em 0 #222;
  -moz-box-shadow: 0 0 1em 0 #222;
  margin: -10em 0 0 -13em;
  padding: .1em;
  position: fixed;
  top: 25%;
  right: 5%;
  height: 90%;
  width: 30%;
}

#cart-container .modal-cart .modal-cart-close {
  float: left;
  background-color: #DA2224;
  border: none;
  color: #2b2e2f;
  text-align: center;
  font-size: 1em;
  height: 2.5em;
  padding: .6em 0em 0em 0em;
  width: 5em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

#cart-container .modal-cart .modal-cart-close:hover, #cart-container .modal-cart .modal-cart-close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

#cart-container .modal-cart .checkout-row {
  position: absolute;
  background-color: #2b2e2f;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  width: 100%;
  bottom: 0%;
  left: 0%;
}

#cart-container .modal-cart .checkout-button {
  float: right;
  background-color: #46b29d;
  border: none;
  color: #2b2e2f;
  text-align: center;
  font-size: 1em;
  height: 2.5em;
  padding: .6em 0em .6em 0em;
  width: 10em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

#cart-container .modal-cart .checkout-button:hover {
  color: #ffffff;
  padding-right: 1em;
}

#cart-container .modal-cart .checkout-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#cart-container .modal-cart .checkout-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#cart-container .modal-cart .checkout-button:hover span {
  padding-right: 1em;
  color: #ffffff;
}

#cart-container .modal-cart .checkout-button:hover span:after {
  opacity: 1;
  right: 0;
}

#cart-container .modal-cart.active {
  display: block;
  z-index: 5;
}

/* -------------------------------- 
Cart Items
-------------------------------- */
.modal-cart-items {
  height: 5em;
  /* -------------------------------- 
Cart button
-------------------------------- */
  /* -------------------------------- 
Gallery grid
-------------------------------- */
  /* -------------------------------- 
Single Item
-------------------------------- */
  /* -------------------------------- 
Product Slider
-------------------------------- */
  /* -------------------------------- 
Product Customization
-------------------------------- */
  /* -------------------------------- 
Settings icon - touch devices only
-------------------------------- */
  /* -------------------------------- 
Checkout Page
-------------------------------- */
  /* -------------------------------- 
Product Info (title + price)
-------------------------------- */
}

.modal-cart-items .item-row {
  margin: .05em;
  border-radius: .5em;
}

.modal-cart-items .item-row .cd-cart {
  position: absolute;
  z-index: 2;
  right: 10px;
  height: 70px;
  width: 70px;
  background: url(/images/cd-icon-cart.svg) no-repeat center center;
}

.modal-cart-items .item-row .cd-cart span {
  /* number of items added to the cart */
  position: absolute;
  top: 2px;
  right: 5px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  background-color: #46b29d;
}

.modal-cart-items .item-row .cd-cart span .item-price-in-cart {
  text-align: center;
  color: white;
}

.modal-cart-items .item-row .cd-cart span .item-price-in-cart:active {
  text-decoration: line-through;
  color: #DA2224;
}

.modal-cart-items .item-row .cd-cart span .item-name-in-cart {
  text-align: center;
  font-size: 1em;
}

.modal-cart-items .item-row .cd-cart span .item-name-in-cart .input-group {
  width: 100%;
}

.modal-cart-items .item-row .cd-cart span .item-name-in-cart .input-group .input-group-field {
  height: 50%;
  width: 3em;
  margin-bottom: .5em;
  margin-left: 5em;
}

.modal-cart-items .item-row .cd-cart span .item-name-in-cart .input-group .edit-button-in-cart {
  background-color: #ffffff;
  color: #2b2e2f;
  padding: .1em;
  border-radius: 1em;
  float: right;
  height: 1.8em;
  width: 3em;
}

.modal-cart-items .item-row .cd-cart span .item-name-in-cart .input-group .edit-button-in-cart:hover {
  background-color: #f0ca4d;
  color: #ffffff;
  -webkit-animation: enlarge .3s forwards;
  animation: enlarge .3s forwards;
}

.modal-cart-items .item-row .cd-cart span .item-name-in-cart .input-group .remove-button-in-cart {
  background-color: #ffffff;
  color: #2b2e2f;
  width: 3em;
  float: right;
  height: 1.8em;
  border-radius: 1em;
  margin-right: 5em;
  margin-left: 1em;
}

.modal-cart-items .item-row .cd-cart span .item-name-in-cart .input-group .remove-button-in-cart:hover {
  background-color: #DA2224;
  color: #ffffff;
  -webkit-animation: enlarge .3s forwards;
  animation: enlarge .3s forwards;
}

.modal-cart-items .item-row .cd-cart .total-in-cart {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  border-radius: 50%;
  /* scale it down if no products have been added to the cart */
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s 0s;
  -moz-transition: -moz-transform 0.2s 0s;
  transition: transform 0.2s 0s;
}

.modal-cart-items .item-row .cd-cart.items-added span {
  /* counter visible when a product is added to the cart */
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.modal-cart-items .cd-gallery {
  width: 90%;
  max-width: 1400px;
  margin: 1.5em auto;
  list-style: none;
}

.modal-cart-items .cd-gallery > li {
  display: inline;
}

@media only screen and (min-width: 768px) {
  .modal-cart-items .cd-gallery {
    margin-top: 2em;
  }
  .modal-cart-items .cd-gallery::after {
    clear: both;
    content: "";
    display: table;
  }
  .modal-cart-items .cd-gallery > li {
    width: 48%;
    float: left;
    margin: 0 4% 6% 0;
  }
  .modal-cart-items .cd-gallery > li:nth-of-type(2n) {
    margin-right: 0;
  }
}

@media only screen and (min-width: 1400px) {
  .modal-cart-items .cd-gallery {
    margin-top: 2.5em;
  }
  .modal-cart-items .cd-gallery > li {
    width: 30%;
    float: left;
    margin: 0 5% 5% 0;
  }
  .modal-cart-items .cd-gallery > li:nth-of-type(2n) {
    margin-right: 5%;
  }
  .modal-cart-items .cd-gallery > li:nth-of-type(3n) {
    margin-right: 0;
  }
}

.modal-cart-items .cd-single-item {
  position: relative;
}

.modal-cart-items .cd-single-item > a {
  display: block;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.no-touch .modal-cart-items .cd-single-item:hover .cd-customization, .modal-cart-items .cd-single-item.hover .cd-customization {
  /* product customization visible */
  padding-left: 3em;
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s 0s, visiblity 0s 0s;
  -moz-transition: opacity 0.2s 0s, visiblity 0s 0s;
  transition: opacity 0.2s 0s, visiblity 0s 0s;
}

.no-touch .modal-cart-items .cd-single-item:hover .cd-customization .quantity, .modal-cart-items .cd-single-item.hover .cd-customization .quantity {
  width: 100%;
  height: 100%;
}

.no-touch .modal-cart-items .cd-single-item:hover .cd-customization-trigger, .modal-cart-items .cd-single-item.hover .cd-customization-trigger {
  /* this is the settings icon - visible on touch devices only */
  display: none;
}

.modal-cart-items .cd-single-item img {
  min-width: 23em;
  max-width: 23em;
  min-height: 15em;
  max-height: 15em;
}

.modal-cart-items .cd-single-item select.selectpicker {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  background-color: #de5b48;
}

.modal-cart-items .cd-slider-wrapper {
  position: relative;
  overflow: hidden;
}

.modal-cart-items .cd-slider-wrapper li {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* by default, move the product image on the right*/
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s;
  transition: transform 0.3s 0s, visibility 0s 0.3s;
}

.modal-cart-items .cd-slider-wrapper li.selected {
  /* this is the visible product image */
  position: relative;
  visibility: visible;
  z-index: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s;
}

.modal-cart-items .cd-slider-wrapper li.move-left {
  /* move the product image on the left */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.modal-cart-items .cd-slider-wrapper img {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  display: block;
}

.modal-cart-items .cd-customization {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 16px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.modal-cart-items .cd-customization::after {
  clear: both;
  content: "";
  display: table;
}

.modal-cart-items .cd-customization > * {
  float: left;
}

.modal-cart-items .cd-customization .color, .modal-cart-items .cd-customization .size, .modal-cart-items .cd-customization .add-to-cart {
  height: 34px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.modal-cart-items .cd-customization .color, .modal-cart-items .cd-customization .size {
  /* these are the color and size options */
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #e6e6e6;
  /* Force Hardware Acceleration - fix a bug on Safari */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.modal-cart-items .cd-customization .color:hover, .modal-cart-items .cd-customization .size:hover {
  box-shadow: inset 0 0 0 1px #cccccc;
}

.modal-cart-items .cd-customization .color ul, .modal-cart-items .cd-customization .size ul {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
}

.modal-cart-items .cd-customization .color li, .modal-cart-items .cd-customization .size li {
  position: relative;
  height: 34px;
}

.modal-cart-items .cd-customization .color ul, .modal-cart-items .cd-customization .size ul {
  border-color: #d8b645;
  background-color: #f0ca4d;
}

.modal-cart-items .cd-customization .color ul li:first-of-type, .modal-cart-items .cd-customization .size ul li:first-of-type {
  /* arrange list items according to the selected color/size option */
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  border-radius: 0;
}

.modal-cart-items .cd-customization .color ul li:nth-of-type(2), .modal-cart-items .cd-customization .size ul li:nth-of-type(2) {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  border-radius: 3px 3px 0 0;
}

.modal-cart-items .cd-customization .color ul li:nth-of-type(3), .modal-cart-items .cd-customization .size ul li:nth-of-type(3) {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  border-radius: 0 0 3px 3px;
}

.modal-cart-items .cd-customization .color.selected-2 ul li:first-of-type, .modal-cart-items .cd-customization .color.selected-2 ul li:nth-of-type(2), .modal-cart-items .cd-customization .color.selected-2 ul li:nth-of-type(3), .modal-cart-items .cd-customization .size.selected-2 ul li:first-of-type, .modal-cart-items .cd-customization .size.selected-2 ul li:nth-of-type(2), .modal-cart-items .cd-customization .size.selected-2 ul li:nth-of-type(3) {
  /* second option selected in the ul.color/ul.size list*/
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.modal-cart-items .cd-customization .color.selected-2 ul li:first-of-type, .modal-cart-items .cd-customization .size.selected-2 ul li:first-of-type {
  border-radius: 3px 3px 0 0;
}

.modal-cart-items .cd-customization .color.selected-2 ul li:nth-of-type(2), .modal-cart-items .cd-customization .size.selected-2 ul li:nth-of-type(2) {
  border-radius: 0;
}

.modal-cart-items .cd-customization .color.selected-3 ul li:first-of-type, .modal-cart-items .cd-customization .size.selected-3 ul li:first-of-type {
  /* third option selected in the ul.color/ul.size list */
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  border-radius: 3px 3px 0 0;
}

.modal-cart-items .cd-customization .color.selected-3 ul li:nth-of-type(2), .modal-cart-items .cd-customization .size.selected-3 ul li:nth-of-type(2) {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  border-radius: 0 0 3px 3px;
}

.modal-cart-items .cd-customization .color.selected-3 ul li:nth-of-type(3), .modal-cart-items .cd-customization .size.selected-3 ul li:nth-of-type(3) {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  border-radius: 0;
}

.modal-cart-items .cd-customization .color.is-open, .modal-cart-items .cd-customization .size.is-open {
  /* color/size list open - make ul element visible */
  overflow: visible;
  box-shadow: none;
}

.modal-cart-items .cd-customization .color.is-open::after, .modal-cart-items .cd-customization .size.is-open::after {
  /* remove the arrow icon for the size option element */
  display: none;
}

.modal-cart-items .cd-customization .color.is-open ul, .modal-cart-items .cd-customization .size.is-open ul {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-color: #e6e6e6;
  background-color: #ffffff;
}

.modal-cart-items .cd-customization .color.is-open li:hover, .modal-cart-items .cd-customization .color.is-open li.active, .modal-cart-items .cd-customization .size.is-open li:hover, .modal-cart-items .cd-customization .size.is-open li.active {
  background-color: #f2f2f2;
}

.modal-cart-items .cd-customization .color {
  width: 34px;
}

.modal-cart-items .cd-customization .color li {
  /* replace color name with colored circle */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}

.modal-cart-items .cd-customization .color li::before {
  /* this is the colored circle */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.modal-cart-items .cd-customization .color li.navy::before {
  background-color: #314d5d;
}

.modal-cart-items .cd-customization .color li.orange::before {
  background-color: #de5b48;
}

.modal-cart-items .cd-customization .color li.yellow::before {
  background-color: #f0ca4d;
}

.modal-cart-items .cd-customization .size {
  margin: 0 6px;
}

.modal-cart-items .cd-customization .size::after {
  /* arrow icon for the size option element */
  content: '';
  position: absolute;
  right: 7px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("/images/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}

.modal-cart-items .cd-customization .size li {
  padding: 0 1em;
}

.modal-cart-items .cd-customization .size, .modal-cart-items .cd-customization .add-to-cart {
  width: calc(50% - 23px);
}

.modal-cart-items .cd-customization .size li, .modal-cart-items .cd-customization .add-to-cart {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 34px;
}

.modal-cart-items .cd-customization .add-to-cart {
  color: #ffffff;
  background-color: #46b29d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-touch .modal-cart-items .cd-customization .add-to-cart:hover {
  background-color: #55bca8;
}

.modal-cart-items .cd-customization .add-to-cart em {
  /* this is the button text message */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.modal-cart-items .cd-customization .add-to-cart svg {
  /* this is the check icon */
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  /* move the icon on the right - outside the button */
  -webkit-transform: translateX(50%) translateY(-50%);
  -moz-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  -o-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.modal-cart-items .cd-customization .add-to-cart.is-added em {
  /* product added to the cart - hide text message on the left with no transition*/
  color: transparent;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}

.modal-cart-items .cd-customization .add-to-cart.is-added svg {
  /* product added to the cart - move the svg back inside the button */
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: -webkit-transform 0s;
  -moz-transition: -moz-transform 0s;
  transition: transform 0s;
}

.modal-cart-items .cd-customization-trigger {
  position: absolute;
  z-index: 2;
  right: 0px;
  bottom: 0px;
  height: 40px;
  width: 40px;
  /* replace text with an icon */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  background: url(/images/cd-icon-settings.svg) no-repeat center center;
  display: none;
}

.touch .modal-cart-items .cd-customization-trigger {
  display: block;
}

.modal-cart-items .container-fluid {
  height: 100%;
  background: url(../images/checkoutBG.jpg);
  background-size: cover;
}

.modal-cart-items .container-fluid .checkout-side-info {
  color: #ffffff;
}

.modal-cart-items .container-fluid .checkout-main-info {
  color: #ffffff;
}

.modal-cart-items .container-fluid legend {
  color: #ffffff;
}

.modal-cart-items .container-fluid .form-group {
  text-align: center;
}

.modal-cart-items .container-fluid .form-group .total-before-taxes {
  font-size: 2em;
  text-decoration: underline;
  background-color: #2b2e2f;
  color: #46b29d;
  border-radius: 1em;
}

.modal-cart-items .cd-item-info {
  padding: 1em .5em 0;
  color: #314d5d;
  font-weight: bold;
}

.modal-cart-items .cd-item-info::after {
  clear: both;
  content: "";
  display: table;
}

.modal-cart-items .cd-item-info b {
  float: left;
  font-size: 1em;
}

.modal-cart-items .cd-item-info em {
  float: right;
  font-size: 1.5em;
  color: #5484a0;
}

.modal-cart-items .cd-item-info a {
  font-size: 1.5em;
  color: #314d5d;
}

.modal-cart-items .cd-item-info a:hover {
  text-decoration: underline;
}

.modal-cart-items .cd-item-info .price {
  width: 2.5em;
  float: right;
  text-align: center;
  background-color: #2b2e2f;
  color: #ffffff;
}

.modal-cart-items .cd-item-info .item-desc {
  display: none;
  font-size: 1em;
  padding: .2em .5em .2em .5em;
  border-radius: .5em;
  color: #ffffff;
  background-color: #2b2e2f;
}

.modal-cart-items .content {
  top: 87%;
  width: 100%;
  height: 100%;
  min-height: 12%;
  z-index: 0;
  background: #f5f5f5;
}

.modal-cart-items .content h1 {
  font-weight: 300;
  font-size: 2em;
  margin: 0;
}

.modal-cart-items .content .item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.modal-cart-items .content .item-container .item-photo {
  position: relative;
  background-position: center;
  background-size: contain;
}

.modal-cart-items .content .item-container .item-photo .thumbnail {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.modal-cart-items .content .item-container .item-photo .thumbnail:hover {
  -webkit-animation: enlarge .3s forwards;
  animation: enlarge .3s forwards;
}

.modal-cart-items .content .item-container .item-desc {
  list-style: none;
  padding: 5px;
  margin: 0;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.modal-cart-items .content .item-container .item-desc .item-name {
  color: #DA2224;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal-cart-items .content .item-container .item-desc .item-name:hover {
  color: #ffffff;
}

.modal-cart-items .content .item-container .item-desc .price {
  color: #2b2e2f;
}

.modal-cart-items .content .item-container:hover {
  background: #de5b48;
  -webkit-transition: background 0.125s ease-in-out;
  transition: background 0.125s ease-in-out;
  text-decoration: none;
}

.modal-cart-items .splash-container {
  background: #de5b48;
  width: 100%;
  height: 58%;
  top: 0;
  left: 0;
  position: fixed;
}

.modal-cart-items .splash-container .splash {
  width: 100%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.modal-cart-items .splash-container .splash #search {
  background: #f5f5f5;
  border: 0;
  color: #f5f5f5;
  display: inline;
  font-size: .95em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.modal-cart-items .splash-container .splash #search::-webkit-input-placeholder, .modal-cart-items .splash-container .splash #search::-moz-input-placeholder, .modal-cart-items .splash-container .splash #search:-ms-input-placeholder, .modal-cart-items .splash-container .splash #search:-moz-input-placeholder {
  color: #7f7f7f;
}

.modal-cart-items .splash-container .splash .splash-head {
  font-size: 42px;
  font-weight: bold;
  color: #f5f5f5;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

.modal-cart-items .splash-container .splash video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  background: url("/images/splash_top.jpg");
  background-size: cover;
}
