<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mid Term Project</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css">
  <link media="all" type="text/css" rel="stylesheet" href="public/styles/layout.css">
</head>
<body>
  <div class="row">
    <h2><<<<<  Cart Page >>>>></h2>
  </div>
  <div class="row">
  <column class="small-12 medium-3">
    <div class="row">
      <div class="column small-12 medium-12">
        <h3>Item</h3>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="column small-12 medium-12">
        <h3>Qty</h3>
      </div>
    </div>
  </column>
  <column class="small-12 medium-9">
    <div class="row">
      <div class="column small-12 medium-9">
        <h3>Price</h3>
      </div>
    </div>
    <div class="row">
      <br>
    </div>
    <div class="row">
      <div class="column small-12 medium-3">
        <div class="button-group">
          <a class="button">Qty</a>
          <a class="dropdown button arrow-only">
            <span class="show-for-sr">1</span>
          </a>
        </div>
      </div>
      <div class="column small-12 medium-3">
          <div class="input-group">
            <button>Remove</button>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="column small-12 medium-3">
      </div>
      <div class="column small-12 medium-9">
        <h3>Total: </h3>  
      </div>
    </div>
    <div class="row">
      <div class="column small-12 medium-3">
        <a class="button primary" href="#">Checkout</a>
      </div>
      <div class="column small-12 medium-9">
        <a class="button warning" href="#">Cancel</a>
      </div>
    </div>
  </column>
  </div> 
</body>
</html>