<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mid Term Project</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css">
  <link media="all" type="text/css" rel="stylesheet" href="./public/styles/layout.css">

    <!-- External JS -->
  <script type="text/javascript" src="./public/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>

  <!-- Application JS -->
  <script type="text/javascript" src="public/scripts/app.js"></script>

</head>




<body>
  <div class="row">
    <header>
        <!--Cart-->
        <div id='cart-container'>
          <div class="cart-image"><i class="fa fa-shopping-cart fa-lg"></i></div>
          <div class='modal-cart'>
              <div class='modal-cart-content'>
                <form method='GET' action='/checkout/:session_id'>
                  <div class="checkout-row">
                    <span class='modal-cart-close'>Close</span>
                    <button class="checkout-button"> <i class="fa fa-shopping-cart fa-lg"></i><span> Checkout Now! </span></button>
                  </div>
                </form>
          <!--Cart End-->
              </div>
            </div>
          </div>
        </div>   
    </header>

  <div class="row">
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Food ToGo</h1>
            <input type="text" id="search" placeholder="Search">
            <video autoplay loop poster="public/images/splash_top.jpg" id="bgvid">
                <source src="public/images/splash_top.jpg" type="video/mp4">
            </video>
        </div>
    </div>

    <div id="content">
      <div class="row pad">
<!--        <div class=>
          <p class="subtitle">Featured</p>
        </div>
        <div class=>
          <a href="#" class="btn" id="view-all">View all Menus</a>
        </div>-->
          <div id="item-one">
            <div class="item-container">
              <div class="item-photo">
                <img class='thumbnail' src="public/images/seafood.jpg">
                  <div class="item-options-row">
                    <button class="add-to-cart"> <em>Add to Cart</em> </button>

                  </div>
                <div class="item-desc">
                  <div class="item-name">Item 1</div>
                  <div class="item-price">Price 1</div>
                </div>
            </div>
            </div>
           </div>
          <!---->
          <div id="item-two">
            <div class="item-container">
              <div class="item-photo">
                <img class='thumbnail' src="public/images/dumpling.jpg">
                <div class='modal'>
                  <div class='modal-content'>
                    <img class='modal-image' src="public/images/porkstew.jpg">
                    <span class='modal-close'>&times;</span>
                    <p class='modal-text'> Modal Text 2 </p>
                  </div>
                </div>
              </div>
              <div class="item-desc">
                <div class="item-name">Item 2</div>
                <div class="item-price">Price 2</div>
              </div>
            </div>
           </div>
           <!---->
           <div id="item-three">
            <div class="item-container">
              <div class="item-photo">
                <img class='thumbnail' src="public/images/porkstew.jpg">
                <div class='modal'>
                  <div class='modal-content'>
                    <img class='modal-image' src="public/images/porkstew.jpg">
                    <span class='modal-close'>&times;</span>
                    <p class='modal-text'> Modal Text 3</p>
                  </div>
                </div>
              </div>
              <div class="item-desc">
                <div class="item-name">Item 3</div>
                <div class="item-price">Price 3</div>
              </div>
            </div>
           </div>
            <!---->
           <div id="item-four">
            <div class="item-container">
              <div class="item-photo">
                <img class='thumbnail' src="public/images/redbean.jpg">
                <div class='modal'>
                  <div class='modal-content'>
                    <img class='modal-image' src="public/images/porkstew.jpg">
                    <span class='modal-close'>&times;</span>
                    <p class='modal-text'> Modal Text 4</p>
                  </div>
                </div>
              </div>
              <div class="item-desc">
                <div class="item-name">Item 4</div>
                <div class="item-price">Price 4</div>
              </div>
            </div>
           </div>
            






           
  </div>
</div>

<div id="menu-anchor">

</body>
</html>

                <!--<div class='modal' data-keyboard='false' data-backdrop='static' href='#'>-->
                  <!--<div class='modal-content'>
                    <span class='modal-close'>&times;</span>
                    <img class='modal-image' src="public/images/porkstew.jpg">
                    <div class='modal-item-name'>Item Modal 1</div>
                    <div class='modal-item-price'>Price Modal 1</div>
                    <div class='modal-item-desc'> Modal Desc 1 </div>
                    <div class='modal-item-quantity'>
                      <label class='QTY'>
                        "QTY: 1"
                      </label>
                    <select name='itemCount' id='itemCount'>
                    </select>
                  </div>
                </div>-->
              <!--</div>-->