<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Midterm Project Food TOGO</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400">
  <link media="all" type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation-flex.min.css">
  <link media="all" type="text/css" rel="stylesheet" href="public/styles/layout.css">
</head>
<body>
 <nav class="top-bar" data-topbar="" role="navigation">
   <ul class="title-area">
     <li class="name"></li>
     <li class="toggle-topbar menu-icon">
       <a href="#"><span>Menu</span></a>
     </li>
   </ul>
 </nav>
</body>
</html>