@import 'settings';
@import 'header';
@import 'body';
@import 'content';

h1,
h2,
h3,
h4,
h5,
h6,
label{
	color: $Green;
}

h1, h2, h3, p, a {
  font-family: Raleway;
}

h1, h2, h3 {
  color: $black;
}

h2, h3 {
  font-size: 1.4em;
}

p {
  color: $gray;
}

.pad {
  padding: 3em;
}

.btn {
  color: $bgcolor;
  padding: 7px 35px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  &:hover {
    color: $bgcolor;
    font-weight: bold;
  }
}

#view-all {
  background-color: $accent-color;
  float: right;
}

#byweek {
  border-left: 1px solid $gray;
}


h2, h3 {
  font-weight: 300;
  margin-bottom: 25px;
}